<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <p>
  <% if task.completed %>
    <i class="far fa-check-circle"></i>
    <!-- input type="checkbox" checked -->
  <% else %>
    <i class="far fa-circle"></i>
    <!-- input type="checkbox" -->
  <% end %>
    <%= link_to task.title, task_path(task.id) %>
    <!--%= link_to 'Delete task', task_delete_path(task),
      method: :delete,
      data: { confirm: "Are you sure ?" } % -->
    <!-- div><i class="far fa-trash-alt"></i></div -->

    <%= link_to(task_delete_path(task), method: :delete, data: {confirm: "are you sure?"}) do %>
        <i class="fas fa-trash"></i>
    <% end %>
  </p>
<% end %>

<p>
<%= link_to task_new_path do %>
  <i class="fa-solid fa-square-plus"></i> Add new task
<% end %>
</p>
