<h1><%= @task.title %></h1>
<p><%= link_to 'Edit task', task_edit_path(@task),
method: :get %></p>
<p><%= @task.details %></p>
<% if @task.completed %>
  <input type="checkbox" id="completed" name="completed" checked>
  The task is completed
<% else %>
  <input type="checkbox" id="completed" name="completed">
  The task is not completed yet
<% end %>
<p><%= link_to 'Back to list', tasks_path %></p>
